.App {
  font-family: Inter, sans-serif;
  font-family: "SN Pro";
  /* padding: 20px; */
}

/* Counter */
.counter-wrapper {
  /* width: 160px; */
  margin: auto;
}

.card-row {
  display: flex;
  flex-flow: row;
  padding: 16px 16px 0;
}

.card-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row;
  /* width: 160px; */
  height: 54px;
  border-radius: 32px;
  /* border: 1px solid #d6d6d699; */
  background: #fff;
  /* box-shadow: 0px 2px 2px 0px #0000000a; */
  text-align: center;
  transition: 150ms ease border-color;
}

.card-inner:hover {
  border-color: #d6d6d6f0;
}

.row {
  display: flex;
  flex-flow: row;
}

.label-row {
  align-self: center;
  margin: auto;
  margin-left: 8px;
}

.counter-row {
  /* padding-top: 32px;
  padding-bottom: 12px; */
}

.number-wrapper {
  position: relative;
  height: 54px;
  width: 60px;
  margin: auto;
  overflow: hidden;
}

.counter-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-family: "SN Pro";
  font-size: 20px;
  font-weight: 800;
  z-index: 1;
  color: #222222;
}

.counter-button {
  margin: auto 0;
  /* height: 48px; */
  color: #4D4D4D;
  border: none;
  /* padding: 8px 16px; */
  outline: none;
  cursor: pointer;
  transform-origin: center center;
  padding: 4px 4px;
  background: #f9f9f9;
  border-radius: 32px;
}

.counter-button img {
  pointer-events: none;
}

.button-minus {
  margin-left: 16px;
}

.button-plus {
  margin-right: 16px;
}

.counter-button:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.CounterInput-input {
  width: 50px;
  text-align: center;
  font-size: 24px;
  margin: 0 8px;
}

.label {
  /* width: 120px; */
  font-family: "Inter";
  font-family: "SN Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #4D4D4D;
}

.counter-label {
  /* width: 160px; */
  bottom: 16px;
  pointer-events: none;
}