.App {
  font-family: Inter, sans-serif;
  font-family: "SN Pro";
  /* padding: 20px; */
}

.counter-wrapper {
  margin: auto;
}

.card-row {
  display: flex;
  flex-flow: row;
  padding: 16px 16px 0;
}

.card-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row;
  height: 54px;
  /* border-radius: 32px;
  border: 1px solid #d6d6d699; */
  background: #fff;
  /* box-shadow: 0px 2px 2px 0px #0000000a; */
  text-align: center;
}

/* Hide the number input arrows for WebKit browsers (Chrome, Safari, Edge) */
.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows for Firefox */
.counter-input[type="number"] {
  -moz-appearance: textfield;
}

/* Additional styling to make the input blend seamlessly */
.counter-input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: "SN Pro", "Inter", sans-serif;
  border: none;
  outline: none;
  background: none;
  color: #222222;
  appearance: none;
  z-index: 2;
  letter-spacing: 0.05ch;
  font-variant-numeric: tabular-nums;
}

.card-inner:hover {
  border-color: #d6d6d6f0;
}

.row {
  display: flex;
  flex-flow: row;
}

.label-row {
  align-self: center;
  margin: auto;
  margin-left: 8px;
}

.counter-row {
  /* padding-top: 32px;
  padding-bottom: 12px; */
}

.number-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 54px;
  width: 60px;
  margin: auto;
  overflow: hidden;
}

.digits-container {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: "SN Pro", "Inter", sans-serif;
  font-variant-numeric: tabular-nums;
}

/* .digit-container {
  position: relative;
  width: 1rem;
  height: 2rem;
} */

.digit-container {
  position: relative;
  text-align: center;
  width: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "SN Pro", "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  z-index: 1;
  color: #222222;
}

.counter-button {
  margin: auto 0;
  color: #4d4d4d;
  border: none;
  outline: none;
  cursor: pointer;
  transform-origin: center center;
  padding: 4px 4px 2px 4px;
  background: #f9f9f9;
  border-radius: 32px;
}

.counter-button img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-minus {
  margin-left: 16px;
}

.button-plus {
  margin-right: 8px;
}

.counter-button:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.label {
  font-family: "SN Pro", "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #4d4d4d;
}

.counter-label {
  bottom: 16px;
  pointer-events: none;
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  margin-top: 16px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  background: #18A0FB;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  height: 54px;
  margin: 0 8px;
}

.toggle-label {
  flex-grow: 1;
  font-family: "SN Pro", "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #4d4d4d;
}

.toggle-switch {
  width: 40px;
  height: 24px;
  border-radius: 12px;
  background-color: #dedede;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s ease-out;
}

.toggle-switch.checked {
  background-color: #18A0FB;
}

.toggle-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2px;
  transform: translateX(2px);
  transition: transform 0.15s ease-out;
}

.toggle-switch.checked .toggle-handle {
  transform: translateX(18px);
}

.color-scheme-picker {
  height: 54px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.color-scheme-label {
  font-size: 12px;
  margin-right: 8px;
  flex-grow: 1;
}

.color-scheme-options {
  display: flex;
}

.color-scheme-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  overflow: hidden;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.color-scheme-circle.active {
  border-color: #18A0FB;
}

.color-scheme-half {
  width: 50%;
  height: 100%;
}